body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  background-color: #082240; }

h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold; }

h2 {
  font-family: "Proza Libre", sans-serif;
  font-size: 14px; }

h3 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 40px;
  color: #8BAAAD;
  text-align: center; }

p {
  font-family: "Proza Libre", sans-serif;
  font-size: 16px;
  color: white;
  text-align: center; }

.navbar {
  background: #082240;
  max-height: 50px; }

.navbar-brand {
  max-height: 50px;
  color: #ffffff; }

#zb-icon {
  position: relative; }

.nav-link {
  color: #ffffff;
  margin-right: 1em; }
  .nav-link:hover {
    color: #8BAAAD; }
  .nav-link.active {
    color: #8BAAAD; }

.nav-link.block {
  background-color: #8BAAAD;
  border-radius: 5px; }
  .nav-link.block:hover {
    color: black; }

.navbar-collapse {
  justify-content: flex-end; }

.header {
  background-image: url("../images/hero-home.jpg");
  background-size: cover;
  background-position: center top;
  position: relative;
  text-align: center;
  color: white; }

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 50px;
  background-image: linear-gradient(#082240, rgba(8, 34, 64, 0.5)); }

#hero-img.img-fluid {
  max-width: 40%; }

.intro {
  text-align: center; }

.services {
  background-color: #8BAAAD;
  text-align: center;
  padding: 3em; }
  .services h3 {
    color: white; }

.btn {
  background-color: white;
  color: #082240;
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase; }

.meet {
  padding: 3em; }
  .meet h3 {
    color: #8BAAAD; }

.portrait {
  max-width: 75%; }

.sustainability {
  background-image: url("../images/sheep-highres.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center; }

.my_class {
  width: 100%;
  height: 100%;
  background-image: url(/images/my-image.jpg);
  background-size: contain; }

.my_class {
  width: 100%;
  height: 100%;
  background-image: url(/images/my-image.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }
