//colors 
$primary: #082240;
$accent: #8BAAAD;
$white: white;
$black: black;
$sans-serif: 'Proza Libre', sans-serif;
$serif: 'Cormorant Garamond', serif;

$nav-height: 50px;


//body
body{
    padding: 0;
    margin: 0;
    font-family: $serif;
    background-color: $primary;
    //color: $white;
}

//fonts
h1{    
  font-family: $serif;
  font-weight: bold;
 // font-size: 50px;
}
h2{
  font-family: $sans-serif;
  font-size: 14px;
}
h3{
  font-family: $serif;
  font-weight: bold;
  font-size: 40px;
  color: $accent;
  text-align: center;
}
p{
  font-family: $sans-serif;
  font-size: 16px;
  color: $white;
  text-align: center;

}

//navigation 
.navbar {
  background: $primary;
  max-height: $nav-height;
}
.navbar-brand{
  max-height: $nav-height;
  color: #ffffff;
}
#zb-icon{
  position: relative;
}
.nav-link {
  color: #ffffff;
  margin-right: 1em; 
  
  &:hover {
    color: $accent;
  }
  &.active{
    color: $accent;
  }
}
.nav-link.block{
  background-color: $accent;
  border-radius: 5px;
  //margin: 0px;
  &:hover{
    color: $black;
  }
}
.navbar-collapse {
  justify-content: flex-end;
}

// header
.header {
  background-image: url("../images/hero-home.jpg");
  background-size: cover;
  background-position:  center top;
  position: relative;
  text-align: center;
  color: $white;
}
.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
  top: 0;
  background-image: linear-gradient(rgba($primary, 1), rgba($primary, 0.5));
}
#hero-img.img-fluid {
  position: relative;
  max-width: 40%;
}

//introduction
.intro{
  text-align: center;
  // padding-right: 0px;
  // padding-left: 0px;
  // margin-left: -15px;
  // margin-right: -15px;

}



//services
.services{
  background-color: $accent;
  text-align: center;
  padding: 3em;
  h3 {
    color: $white;
  }
}
.btn{
  background-color: $white;
  color: $primary;
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
 // border-style: outset;
 // border-width: 5px;
 // border-color: $white;
}

//meet the team 
.meet{
  padding: 3em;
  h3{
    color: $accent;
  }
}

.portrait{
  max-width: 75%;
}

.sustainability{
  background-image: url("../images/sheep-highres.jpg");
  background-size: auto 100%;

  background-repeat: no-repeat;
  background-position: center;
  // position: relative;
}

.my_class {
  width: 100%;
  height: 100%;
  background-image: url(/images/my-image.jpg);
  background-size: contain;
}

.my_class {
  width: 100%;
  height: 100%;
  background-image: url(/images/my-image.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;}